.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
    "hd hd hd hd"
    "sd main main main"
    "ft ft ft ft"
  
  ;
}

.header {
  grid-area: hd;
  text-align: center;
  background-color: rgb(223, 148, 82);
  color: white;
}

.sidebar {
  grid-area: sd;
}

.footer {
  grid-area: ft;
}